<a href="https://colab.research.google.com/github/A1r1p1it/python-numpy-practice/blob/main/NumPy_practice_program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#### PRACTICE

In [ ]:
#Problem 8: Sales Filter
#Create a "sales" array with 50 random values (100-1000). Find:
#- All sales above 500
#- Sales between 300-700
#x- Replace all sales below 200 with 200 (minimum guarantee)

In [ ]:
import numpy as np
arr = np.random.randint(100, 1001, 50)
print("50 random values:\n", arr, "\n")

sal_500 = arr[arr > 500]
print("All sales above 500:\n", sal_500, "\n")

sal_300_700 = arr[(arr > 300) & (arr < 700)]
print("Sales between 300-700: ", sal_300_700, "\n")

arr[arr < 200] = 200
print("all sales below 200 with 200: ", arr,"\n")

50 random values:
 [884 144 420 772 585 864 430 897 316 488 518 509 846 420 844 103 852 214
 995 604 170 977 417 844 367 978 769 526 597 715 506 946 648 905 625 966
 161 928 594 134 388 516 997 612 506 144 874 699 535 806]

All sales above 500:
 [884 772 585 864 897 518 509 846 844 852 995 604 977 844 978 769 526 597
 715 506 946 648 905 625 966 928 594 516 997 612 506 874 699 535 806]

Sales between 300-700:  [420 585 430 316 488 518 509 420 604 417 367 526 597 506 648 625 594 388
 516 612 506 699 535]

all sales below 200 with 200:  [884 200 420 772 585 864 430 897 316 488 518 509 846 420 844 200 852 214
 995 604 200 977 417 844 367 978 769 526 597 715 506 946 648 905 625 966
 200 928 594 200 388 516 997 612 506 200 874 699 535 806]

In [ ]:
### Problem 9: Multi-Condition Filter
#Generate 100 random numbers (1-100). Find numbers that are:
#- Greater than 50 AND divisible by 3
#- Less than 30 OR greater than 80
#- Between 40-60 AND even

In [ ]:
arr = np.random.randint(1, 101, 100)
print("100 random numbers: \n", arr, "\n")

divide_3 = arr[(arr > 50) & (arr % 3 == 0)]
print("Greater than 50 AND divisible by 3: \n", divide_3, "\n")

less_30 = arr[(arr < 30) | (arr > 80)]
print("Less than 30 OR greater than 80: \n", less_30, "\n")

bet_40_60 = arr[(arr > 40) & (arr < 60) & (arr % 2 == 0)]
print("Between 40-60 AND even: \n", bet_40_60, "\n")

######################### or is typed as '|' DOUBTTTTTTTTTTTTTTTTTTTTTT

100 random numbers:
 [ 97  59  27   7  76  72  22  76  27  33  99  20  65  33  99  65  39  54
  18  87  10  51  66   3  88  22  44  17  30  64  18  75  30  61  97  65
  90   3  79  13  77  69  70  85  90  34  44 100  22  79  81  91  65   4
  40  65  72  99  51  94  60   2   9  24  99  77   8  83  27  42  16  96
  80  11  37  30  43  14  51 100  68  72  66   7  57  32   9  75  94  48
  67  48  68  41  87  68  35  12   7  83]

Greater than 50 AND divisible by 3:
 [72 99 99 54 87 51 66 75 90 69 90 81 72 99 51 60 99 96 51 72 66 57 75 87]

Less than 30 OR greater than 80:
 [ 97  27   7  22  27  99  20  99  18  87  10   3  88  22  17  18  97  90
   3  13  85  90 100  22  81  91   4  99  94   2   9  24  99   8  83  27
  16  96  11  14 100   7   9  94  87  12   7  83]

Between 40-60 AND even:
 [54 44 44 42 48 48]

In [ ]:
### Problem 10: Student Grade System
#Create a 2D array (20 students Ã— 3 subjects) with random marks
#(0-100):
#- Calculate each student's average (row-wise mean)
#- Find the class average for each subject (column-wise mean)

In [ ]:
import numpy as np
import pandas as pd

arr = np.round(100*np.random.rand(20,3))
data = pd.DataFrame(arr, columns=['Subject 1', 'Subject 2', 'Subject 3'])

print("Students marks in 3 subjects: \n", data, "\n")

mean_col = np.mean(arr, axis=0)
print("Class average for each subject: ", mean_col, "\n")

mean_row = np.mean(arr, axis=1)
print("Each student's average: \n", mean_row, "\n")

### pd.Dataframe has "columns" feature thru which we can asign columns.
# Similary for ROWS we have "index"
# example for rows - student_names = [f'Student {i+1}' for i in range(20)]
# index=student_names)

Students marks in 3 subjects:
     Subject 1  Subject 2  Subject 3
0        25.0       42.0       79.0
1        29.0       76.0       24.0
2        10.0       36.0       93.0
3        92.0       80.0       95.0
4        13.0       43.0       84.0
5        22.0       87.0       69.0
6        27.0       82.0       33.0
7         1.0       52.0       73.0
8        98.0        7.0       93.0
9        69.0       78.0       84.0
10       70.0       57.0       60.0
11       38.0       15.0       21.0
12       76.0       56.0       23.0
13       19.0       69.0       49.0
14       70.0        6.0       56.0
15        6.0       69.0       42.0
16       25.0       98.0       83.0
17       70.0       28.0       87.0
18       20.0       28.0       65.0
19       14.0       83.0        1.0

Class average for each subject:  [39.7 54.6 60.7]

Each student's average:
 [48.66666667 43.         46.33333333 89.         46.66666667 59.33333333
 47.33333333 42.         66.         77.         62.33333333 24.66666667
 51.66666667 45.66666667 44.         39.         68.66666667 61.66666667
 37.66666667 32.66666667]

In [ ]:
### Problem 11: Random Walk Simulator
#- Start with position 0
#- Generate 1000 random steps: each step is +1 or -1 (use randint)
#- Use cumulative sum to track position over time
#- Find the maximum and minimum positions reached

In [ ]:
arr = np.random.randint(0, 2, 1000)
arr[arr == 0] = -1
#arr = np.random.choice([-1, 1], size=1000)
print("Generates 1000 steps: ", arr, "\n")

cum_pos = np.cumsum(arr)
print("cumulative sum to track position over time: ", cum_pos, "\n")

max = np.max(cum_pos)
print("maximum position: ", max,"\n")

min = np.min(cum_pos)
print("minimum position: ", min,"\n")

Generates 1000 steps:  [-1  1  1  1 -1 -1 -1  1 -1 -1  1 -1  1  1  1 -1 -1 -1 -1 -1 -1 -1  1 -1
 -1  1  1 -1 -1  1 -1 -1 -1  1 -1  1 -1  1 -1 -1 -1  1  1 -1  1 -1  1  1
  1 -1 -1 -1 -1  1  1 -1  1 -1 -1  1  1 -1 -1 -1  1  1  1  1 -1 -1  1 -1
  1  1  1 -1  1 -1  1 -1 -1 -1 -1 -1 -1  1 -1  1  1  1  1 -1 -1  1  1  1
 -1 -1  1  1 -1 -1  1 -1 -1 -1 -1 -1 -1  1 -1  1  1  1 -1 -1 -1 -1 -1  1
 -1  1  1  1 -1 -1  1  1  1  1 -1  1 -1  1 -1  1 -1 -1 -1  1 -1 -1  1  1
  1 -1 -1  1 -1  1  1  1 -1 -1  1 -1 -1  1 -1 -1 -1 -1  1  1  1  1  1 -1
 -1  1  1  1  1 -1  1  1  1  1 -1  1  1  1  1 -1  1  1 -1  1 -1 -1  1  1
 -1 -1  1 -1  1  1  1  1  1  1 -1 -1  1 -1  1  1  1 -1  1  1 -1 -1  1 -1
  1 -1  1 -1 -1 -1 -1  1 -1 -1  1  1 -1  1 -1 -1 -1  1  1 -1  1 -1  1  1
  1 -1  1 -1  1 -1  1  1 -1  1 -1  1 -1  1  1 -1  1  1  1  1 -1 -1 -1 -1
 -1 -1  1 -1  1 -1  1  1  1 -1  1  1 -1  1  1  1  1  1 -1 -1  1  1  1  1
  1  1  1 -1  1 -1  1  1  1 -1 -1 -1 -1 -1 -1  1 -1  1  1 -1 -1 -1 -1  1
  1  1 -1  1  1  1 -1 -1 -1  1 -1  1 -1 -1  1  1 -1 -1 -1  1  1 -1  1 -1
 -1 -1 -1  1 -1 -1  1 -1 -1 -1 -1  1  1 -1  1 -1  1 -1  1  1  1 -1 -1  1
  1  1 -1 -1 -1 -1  1  1  1 -1  1  1 -1 -1  1 -1  1 -1 -1  1 -1  1  1 -1
 -1  1  1  1  1 -1 -1 -1  1 -1  1  1 -1 -1 -1  1  1  1 -1 -1  1  1 -1 -1
 -1 -1  1  1 -1  1  1  1  1 -1  1 -1  1  1  1  1  1  1  1 -1 -1 -1 -1 -1
 -1  1  1  1  1  1  1  1 -1 -1 -1 -1 -1 -1 -1 -1 -1  1  1  1  1  1  1 -1
  1  1 -1  1 -1  1 -1 -1 -1  1  1 -1 -1  1  1 -1  1  1  1 -1  1  1 -1  1
  1 -1 -1 -1  1  1 -1  1  1 -1  1 -1 -1  1 -1  1  1  1  1  1  1 -1  1 -1
 -1 -1 -1  1 -1 -1 -1 -1  1  1 -1  1  1 -1  1 -1 -1  1 -1  1  1 -1 -1 -1
 -1 -1 -1 -1 -1 -1 -1  1  1  1  1 -1 -1 -1  1 -1 -1  1  1  1  1 -1 -1 -1
 -1  1  1  1  1 -1 -1 -1 -1 -1 -1  1 -1 -1  1  1  1 -1 -1  1  1 -1  1 -1
  1 -1 -1 -1  1 -1  1 -1 -1  1  1  1  1  1 -1 -1 -1 -1  1  1 -1 -1  1 -1
 -1 -1  1 -1  1 -1 -1  1 -1 -1 -1  1 -1 -1 -1  1  1  1  1  1 -1  1 -1 -1
  1 -1 -1 -1  1  1 -1  1  1  1  1 -1 -1 -1 -1  1 -1  1  1 -1 -1 -1 -1  1
  1 -1 -1 -1  1 -1  1  1  1  1 -1 -1 -1 -1 -1  1 -1  1  1 -1  1  1  1 -1
 -1  1  1 -1  1 -1 -1 -1 -1  1  1 -1  1 -1  1  1  1 -1  1  1  1  1  1  1
  1  1  1  1 -1  1 -1 -1 -1 -1  1  1 -1 -1  1 -1 -1 -1 -1  1  1 -1  1  1
  1  1 -1  1  1 -1 -1  1 -1 -1  1 -1 -1  1  1 -1  1  1  1  1 -1 -1  1  1
  1  1  1 -1  1 -1  1  1 -1 -1  1 -1 -1  1  1  1  1  1 -1 -1  1  1  1 -1
  1 -1 -1 -1  1  1  1  1 -1 -1  1 -1 -1  1  1 -1 -1  1 -1  1 -1 -1  1 -1
  1 -1  1 -1 -1  1 -1  1  1  1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1  1  1  1
  1  1  1 -1 -1 -1 -1 -1 -1 -1  1 -1 -1  1  1  1  1  1 -1 -1 -1  1  1  1
  1  1 -1 -1  1 -1  1 -1 -1  1 -1  1  1  1 -1  1 -1  1 -1  1  1  1 -1  1
 -1 -1  1 -1 -1  1  1 -1  1 -1 -1 -1  1 -1  1 -1 -1  1  1  1  1  1 -1  1
  1  1 -1  1  1  1 -1  1  1  1  1  1 -1 -1 -1 -1  1 -1 -1  1 -1 -1  1  1
 -1 -1 -1 -1  1 -1  1 -1 -1  1 -1 -1  1  1  1  1 -1  1  1 -1 -1  1  1  1
 -1 -1 -1 -1 -1  1 -1 -1  1  1 -1  1  1  1 -1  1  1 -1  1 -1  1 -1  1 -1
 -1 -1  1  1 -1 -1 -1 -1  1 -1  1 -1  1  1 -1 -1  1 -1 -1  1 -1  1  1 -1
  1  1 -1  1 -1  1 -1 -1 -1 -1  1  1  1 -1  1 -1]

cumulative sum to track position over time:  [ -1   0   1   2   1   0  -1   0  -1  -2  -1  -2  -1   0   1   0  -1  -2
  -3  -4  -5  -6  -5  -6  -7  -6  -5  -6  -7  -6  -7  -8  -9  -8  -9  -8
  -9  -8  -9 -10 -11 -10  -9 -10  -9 -10  -9  -8  -7  -8  -9 -10 -11 -10
  -9 -10  -9 -10 -11 -10  -9 -10 -11 -12 -11 -10  -9  -8  -9 -10  -9 -10
  -9  -8  -7  -8  -7  -8  -7  -8  -9 -10 -11 -12 -13 -12 -13 -12 -11 -10
  -9 -10 -11 -10  -9  -8  -9 -10  -9  -8  -9 -10  -9 -10 -11 -12 -13 -14
 -15 -14 -15 -14 -13 -12 -13 -14 -15 -16 -17 -16 -17 -16 -15 -14 -15 -16
 -15 -14 -13 -12 -13 -12 -13 -12 -13 -12 -13 -14 -15 -14 -15 -16 -15 -14
 -13 -14 -15 -14 -15 -14 -13 -12 -13 -14 -13 -14 -15 -14 -15 -16 -17 -18
 -17 -16 -15 -14 -13 -14 -15 -14 -13 -12 -11 -12 -11 -10  -9  -8  -9  -8
  -7  -6  -5  -6  -5  -4  -5  -4  -5  -6  -5  -4  -5  -6  -5  -6  -5  -4
  -3  -2  -1   0  -1  -2  -1  -2  -1   0   1   0   1   2   1   0   1   0
   1   0   1   0  -1  -2  -3  -2  -3  -4  -3  -2  -3  -2  -3  -4  -5  -4
  -3  -4  -3  -4  -3  -2  -1  -2  -1  -2  -1  -2  -1   0  -1   0  -1   0
  -1   0   1   0   1   2   3   4   3   2   1   0  -1  -2  -1  -2  -1  -2
  -1   0   1   0   1   2   1   2   3   4   5   6   5   4   5   6   7   8
   9  10  11  10  11  10  11  12  13  12  11  10   9   8   7   8   7   8
   9   8   7   6   5   6   7   8   7   8   9  10   9   8   7   8   7   8
   7   6   7   8   7   6   5   6   7   6   7   6   5   4   3   4   3   2
   3   2   1   0  -1   0   1   0   1   0   1   0   1   2   3   2   1   2
   3   4   3   2   1   0   1   2   3   2   3   4   3   2   3   2   3   2
   1   2   1   2   3   2   1   2   3   4   5   4   3   2   3   2   3   4
   3   2   1   2   3   4   3   2   3   4   3   2   1   0   1   2   1   2
   3   4   5   4   5   4   5   6   7   8   9  10  11  10   9   8   7   6
   5   6   7   8   9  10  11  12  11  10   9   8   7   6   5   4   3   4
   5   6   7   8   9   8   9  10   9  10   9  10   9   8   7   8   9   8
   7   8   9   8   9  10  11  10  11  12  11  12  13  12  11  10  11  12
  11  12  13  12  13  12  11  12  11  12  13  14  15  16  17  16  17  16
  15  14  13  14  13  12  11  10  11  12  11  12  13  12  13  12  11  12
  11  12  13  12  11  10   9   8   7   6   5   4   3   4   5   6   7   6
   5   4   5   4   3   4   5   6   7   6   5   4   3   4   5   6   7   6
   5   4   3   2   1   2   1   0   1   2   3   2   1   2   3   2   3   2
   3   2   1   0   1   0   1   0  -1   0   1   2   3   4   3   2   1   0
   1   2   1   0   1   0  -1  -2  -1  -2  -1  -2  -3  -2  -3  -4  -5  -4
  -5  -6  -7  -6  -5  -4  -3  -2  -3  -2  -3  -4  -3  -4  -5  -6  -5  -4
  -5  -4  -3  -2  -1  -2  -3  -4  -5  -4  -5  -4  -3  -4  -5  -6  -7  -6
  -5  -6  -7  -8  -7  -8  -7  -6  -5  -4  -5  -6  -7  -8  -9  -8  -9  -8
  -7  -8  -7  -6  -5  -6  -7  -6  -5  -6  -5  -6  -7  -8  -9  -8  -7  -8
  -7  -8  -7  -6  -5  -6  -5  -4  -3  -2  -1   0   1   2   3   4   3   4
   3   2   1   0   1   2   1   0   1   0  -1  -2  -3  -2  -1  -2  -1   0
   1   2   1   2   3   2   1   2   1   0   1   0  -1   0   1   0   1   2
   3   4   3   2   3   4   5   6   7   6   7   6   7   8   7   6   7   6
   5   6   7   8   9  10   9   8   9  10  11  10  11  10   9   8   9  10
  11  12  11  10  11  10   9  10  11  10   9  10   9  10   9   8   9   8
   9   8   9   8   7   8   7   8   9  10   9   8   7   6   5   4   3   2
   1   0  -1   0   1   2   3   4   5   4   3   2   1   0  -1  -2  -1  -2
  -3  -2  -1   0   1   2   1   0  -1   0   1   2   3   4   3   2   3   2
   3   2   1   2   1   2   3   4   3   4   3   4   3   4   5   6   5   6
   5   4   5   4   3   4   5   4   5   4   3   2   3   2   3   2   1   2
   3   4   5   6   5   6   7   8   7   8   9  10   9  10  11  12  13  14
  13  12  11  10  11  10   9  10   9   8   9  10   9   8   7   6   7   6
   7   6   5   6   5   4   5   6   7   8   7   8   9   8   7   8   9  10
   9   8   7   6   5   6   5   4   5   6   5   6   7   8   7   8   9   8
   9   8   9   8   9   8   7   6   7   8   7   6   5   4   5   4   5   4
   5   6   5   4   5   4   3   4   3   4   5   4   5   6   5   6   5   6
   5   4   3   2   3   4   5   4   5   4]

maximum position:  17

minimum position:  -18

In [ ]:
### Problem 12: Data Cleaning
#Create an array with 100 random numbers (1-100). Randomly replace 10
#positions with 999 (representing missing data):
#- Use masking to find all 999 values
#- Replace them with the array's mean
#- Find how many values are now above the new mean

In [ ]:
arr = np.random.randint(1, 101, 100)
arr[arr[:10]] = 999
arr
mask = arr[arr == 999]
print("All 999 value in array: ",mask, "\n")

mean = np.mean(arr)
print("Array's mean: ", mean, "\n")
replace_mean = arr[arr == 999]= mean
print("Replacing 999s with arrays mean: ", replace_mean, "\n")
arr[arr < mean]
print("All the values above mean: ", arr)

All 999 value in array:  [999 999 999 999 999 999 999 999 999]

Array's mean:  138.91

Replacing 999s with arrays mean:  138.91

All the values above mean:  [ 27 138  44  21 138  68   1  18   4  27  28  68  94  72  94  78  76  72
 138  66  77 138  69  14  45  25  13 138  47  23  48  63 138  75  73  42
  54  14  14  34  56  16  92  14 138  93  44  97  89  43  94  98  55  34
  55   7  53  72  77  95  92  31  32  29  49  97  65  91 138  96  23  95
  48  44  99  65  54  75  37  75  60  72  70  22  79  38  34  52  73  49
 100  27  76 138   7   8  11  39  33  81]

In [ ]:
import numpy as np

# Create array with 100 random numbers (1-100)
arr = np.random.randint(1, 101, 100)
print("Original array (first 20):", arr[:20], "\n")

# Randomly replace 10 positions with 999
random_indices = np.random.choice(100, size=10, replace=False)
arr[random_indices] = 999
print("After adding 999s (first 20):", arr[:20], "\n")

# Use masking to find all 999 values
mask = arr == 999
print("Mask for 999 values:", mask, "\n")
print("Number of 999s:", np.sum(mask), "\n")

# Calculate mean (excluding 999s for accurate mean)
mean = np.mean(arr[arr != 999])
print("Array's mean (excluding 999s):", mean, "\n")

# Replace 999s with mean
arr[mask] = mean
print("After replacing 999s with mean (first 20):", arr[:20], "\n")

# Find how many values are above the new mean
new_mean = np.mean(arr)
above_mean_count = np.sum(arr > new_mean)
print("New mean:", new_mean)
print("Number of values above new mean:", above_mean_count)

Original array (first 20): [12  9 81 54 81 65 92 19 34 74  8 21 18 22 16 62 52 68  4 81]

After adding 999s (first 20): [ 12   9  81  54  81  65  92  19  34  74   8  21  18  22  16  62  52 999
   4  81]

Mask for 999 values: [False False False False False False False False False False False False
 False False False False False  True False False False False False False
 False False  True False False False False False  True False False False
 False False False  True False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False  True False False
 False  True False False False False False False False False  True  True
 False False False False False False False False False False  True False
 False  True False False]

Number of 999s: 10

Array's mean (excluding 999s): 46.21111111111111

After replacing 999s with mean (first 20): [12  9 81 54 81 65 92 19 34 74  8 21 18 22 16 62 52 46  4 81]

New mean: 46.19
Number of values above new mean: 42