<a href="https://colab.research.google.com/github/A1r1p1it/python-numpy-practice/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# PANDAS

In [ ]:
# PD.SERIES (SIMILAR TO DICTIONARY)

In [ ]:
import pandas as pd

data = pd.Series([3, 0.3, 4.5, 99, 7.9], index = ['a', 'b', 'c', 'd', 'e'])
(data.values)
(data.index)
data["c"]
data["a": "d"]

a     3.0
b     0.3
c     4.5
d    99.0
dtype: float64

In [ ]:
# THIS "name_dict" IS A DICTIONARY
anime_dict = {'a': "naruto", 'b': "sasuke", 'c': "sakura", 'd': "kakashi"}
style_dict = {'a': "wind", 'b': "fire", 'c': "medic", 'd': "lightning"}
style = pd.Series(style_dict)
anime = pd.Series(anime_dict)
anime.values
anime.index
anime['b']
anime[::-1]
anime['a':: 2]
anime['b': 'd']
anime
style

a         wind
b         fire
c        medic
d    lightning
dtype: object

In [ ]:
# PD.DATAFRAMES

In [ ]:
nama = pd.DataFrame({'anime': anime, 'style': style})

print(nama)
nama.T
nama
nama.values[3, 0]
nama.columns

     anime      style
a   naruto       wind
b   sasuke       fire
c   sakura      medic
d  kakashi  lightning

Index(['anime', 'style'], dtype='object')